<!DOCTYPE html>
<html">
<head runat="server">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="#">[Adriano Frota]</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            @***************************************@

            <div class="container-fluid" id="horizontalPerfilCard">
                @Html.Partial("_PerfilCard")
            </div>
            @*<div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <ul class="sidebar-nav">
                            <li class="sidebar-brand"><a href="#">Header list</a></li>
                            <li><a href="/">Home</a> </li>
                            <li><a href="/Home/About">About</a> </li>
                            <li><a href="/Home/Contact">Contact</a> </li>
                        </ul>
                    </div>
                </div>
            </div>*@


            @**************************************@
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Lastest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">New Feature soon</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
    </div>
    <div id="wrapper">
        <!-- Sidebar -->
        @Html.Partial("_PartialSideBarMenu")
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <br />
            <br />
            <a href="#ToggleSideMenu" class="btn btn-default" id="ToggleSideMenu">Toggle Menu</a>
            <hr />
            @RenderBody()
            <footer>
                <p>&copy; 2015 - My ASP.NET Application</p>
            </footer>
        </div>
        <!-- /#page-content-wrapper -->
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $("#ToggleSideMenu").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        });
    </script>
</body>
</html>
